*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);*/
    background: transparent;
}

#dl_translator{
  -webkit-app-region: drag;
}

.lmt__docTrans-tab-container {
    -webkit-app-region: no-drag;
}

.lmt__sides_container {
    -webkit-app-region: no-drag;
}

#lmt__dict {
    -webkit-app-region: no-drag;
}

#back-to-top{
    -webkit-app-region: no-drag;
}